################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/fourtitude/v15/.suo
/CyclicSort/.vs/CyclicSort/v15
